  .term{
    text-decoration: none;
    color: white;
    position:relative;
    top:20px;
    left:320px;
    font-size: 12px;
  }
  .privacy{
    top:20px;
    left:340px;
    color: white;
    position:relative;
    font-size: 12px;
    text-decoration: none;
  }
  .faq{
    color: white;
    top:20px;
    left:360px;
    font-size: 12px;
    text-decoration: none;
    position: relative;
  }
  .cont{
    color: white;
    top:20px;
    left:380px;
    text-decoration: none;
    font-size: 12px;
    position: relative;
  }